{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - news: an array with key/value data for a news
 *     titolo: news title
 *     testo: body of the news
 *     data_pubblicazione: news publish date
 */
#}
<h1>{{ news.titolo }}</h1>
<span>{{ news.data_pubblicazione }}</span>
<div><p>{{ news.testo }}</p></div>
